public-hoist-pattern[]=*@nestjs/core*
public-hoist-pattern[]=*@swc/core*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*nestjs-pino*
public-hoist-pattern[]=*unrs-resolver*
enable-pre-post-scripts=true
unsafe-perm=true 